/*-------fonts--------*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

/*-------componenets--------*/


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  }

p {
  line-height: 20px;
}

.headers {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.sub-headders {
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

a  {
  text-decoration: none;
  color: #F72585;
}

a:hover {
  text-decoration: underline;
  color: #7209B7
}


img {
  border-radius: 50%;
  border: 5px solid #B5179E;
  border-width: 2px;
  position: absolute;
  right: 10%;
  top: 100px;
}

.intro {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#top-banner {
    background: #480CA8;
    height: 100%;
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#page-one {
    background: #ece8f3;
    height: 100%;
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    flex: 1 0 auto;
}


#footer {
    position: sticky;
    background-color: #560BAD;
    height: auto;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    flex-shrink: 0;
    padding: 20px;
}


#title {
  margin-bottom:0px;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 80%;
  color:  #ffffff;
  background-color: #570bad5e;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 16px;
  margin: 12px auto;
}

.card:hover {
  text-decoration: none;
  color: #fff;

}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #560BAD;
}

li {
  display: inline-block;
}

li a {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}


button {
  text-align: center;
  position: center;
	width: 150px;
	height: 50px;
}

button:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}
