/*-------fonts--------*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

/*-------componenets--------*/

body {
  overscroll-behavior: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  }


a  {
  text-decoration: none;
  color: #F72585;
}

a:hover {
  text-decoration: underline;
  color: #7209B7
}
.fwh-slide {
  height: 100vh;
  background: #ffffff;
  box-sizing: border-box;
  padding-top: 24px;
  color: #272343;


}

.fwh-slide--bg-blue {
  height: 100vh;
  padding-top: 150px;
  background: #E3F6F5;
  box-sizing: border-box;
}

.fwh-slide--bg-green {
  height: 100vh;
  padding-top: 24px;
  background: #BAE8E8;
  box-sizing: border-box;
}

#footer {

    background-color: #272343;
    height: auto;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    flex-shrink: 0;
    padding: 20px;
}


#title {
  margin-bottom:0px;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 80%;
  color:  #ffffff;
  background-color: #570bad5e;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 16px;
  margin: 12px auto;
}

.card:hover {
  text-decoration: none;
  color: #fff;

}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #560BAD;
}

li {
  display: inline-block;
}

li a {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}


button {
  text-align: center;
  position: center;
	width: 150px;
	height: 50px;
}

button:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}
